<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <META name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Welcome to leugeme</title>
    {% style "/css/style.css" %}
  </head>
  <body>
    <div class="container">
      <div class="idols">
        <div class="about-me">
          <h3>{{current-user.first_name}} {{current-user.last_name}}</h3>
          <p>{{current-user.description}}</p>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/jobs">Manage my jobs</a></li>
            <li><a href="/employees">Find people to follow</a></li>
          </ul>
        </div>

        {% block content %}
        {% endblock %}
      </div>
    </div>
    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/expander.js"></script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
