{% extends "base.html" %}
{% block content %}
<h1>{{employee.first_name}} {{employee.last_name}}</h1>

<p>Check out these sweet jobs {{jobs}}</p>

{% for employer,jobs in jobs %}
<ul>
  <li>
    Jobbiee {{employer}}
    <ul>
      {% for job in jobs %}
        <li>
              {% csrf-field %}
              {{job.name}}
              {{job.description}}
              {{job.share_date}}
              <a href="/employee/{{employee.id}}/job/{{job.id}}">Details</a>
            </form>
        </li>
      {% endfor %}
  </li>
</ul>
{% endfor %}

{% endblock %}
