{% extends "base.html" %}
{% block content %}
<h1>{{employee.first_name}} {{employee.last_name}}</h1>

<p>Check out these sweet jobs {{jobs}}</p>

{% for employer,jobs in jobs %}
<ul>
  <li>
    Jobbiee {{employer}}
    <ul>
      {% for job in jobs %}
        <li>
            <form action="/employee/{{employee.id}}/job/{{job.id}}/unshare" method="POST">
              {% csrf-field %}
              {{job.name}}<br/>
              {{job.description}}<br/>
              {{job.share_date}}<br/>
              <input type="submit" value="Apply" class="btn btn-default"/>
            </form>
        </li>
      {% endfor %}
  </li>
</ul>
{% endfor %}

{% endblock %}
