{% extends "base.html" %}
{% block content %}

<div class="feeds">
  <div class="idolInfo">{{employee.first_name}} {{employee.last_name}}</div>
  {% for employer,companyjobs in jobs %}
  {% for job in companyjobs %}
  <div class="idol">
    <h3>{{job.name}} at {{employer}}</h3>
    <div class="jobdescription">{{job.description}}</div>
    <div class="actions">
      <a class="adjust">More Details</a>
      <a href="/employee/{{employee.id}}/job/{{job.id}}">Pursue</a>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>

{% endblock %}
