{% extends "base.html" %}
{% block content %}

<div class="feeds">
{% for employer,companyjobs in jobs %}
  {% for job in companyjobs %}
    <div class="idol">
      <h3>{{job.name}} at {{employer}}</h3>
      <div class="jobdescription">{{job.description}}</div>
      <div class="actions">
        <a class="adjust">More Details</a>
        {% if job.share_date %}
          <form action="/employee/{{employee.id}}/job/{{job.id}}/unshare" method="POST">
            {% csrf-field %}
            <input type="submit" value="Unshare" class="btn btn-link"/>
          </form>
        {% else %}
          <form action="/employee/{{employee.id}}/job/{{job.id}}/share" method="POST">
            {% csrf-field %}
            <input type="submit" value="Share" class="btn btn-link"/>
          </form>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endfor %}

{% endblock %}
